body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
 // background-color: #313236;
  background-color: green;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: rgba(75, 240, 231, 0.027);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

